<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <nav class="nav">
      <h class="nav__namepage">
        Landrick <span class="dot">.</span>
      </h>
      <ul class="nav__items">
        <li class="nav-item">
          <a href="#" class="nav-link">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link drop-link">LANDING</a>
          <div class="box"></div>
          <ul class="drop-items">
            <li class="drop-item">
              <a href="#" class="link">SAAS</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">AGENCY</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">APPLICATION</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">STUDIO</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">BUSINESS</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">MODERN BUSINESS</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">HOTEL</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">MARKETING</a>
            </li>
            <li class="drop-item">
              <a href="#" class="link">ENTERORISE</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">PAGES</a>
          <div class="box"></div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">DOCS</a>
        </li>
      </ul>
      <div class="nav__btn">
        <button class="btn-buy" type="button">Buy Now</button>
      </div>
    </nav>
    <div class="container">
      <div class="client">
        <h class="client__conduct">Conduct More Customer In A Better Way</h>
        <p class="client__launch">
          Launch your campaign and benefit from our expertise on designing and
          managing conversion centered bootstrap4 html page.
        </p>
        <div class="client__btn-free">
          <button class="btn-start" type="button">Start Free Trial</button>
        </div>
        <img class="client__ubold" src="src\images\home.png" alt="ubold" />
        <h class="client__our">Our Trusted Clients</h>
        <p class="client__start">
          Star working with <a href="#" class="master">Landrick</a> that can
          provide everything you need to generate awareness, drive traffic,
          connect.
        </p>
      </div>
      <div class="picture">
        <img class="picture__retangle" src="src\images\client_1.png" alt="" />
        <img class="picture__retangle" src="src\images\client_2.png" alt="" />
        <img class="picture__retangle" src="src\images\client_3.png" alt="" />
        <img class="picture__retangle" src="src\images\client_4.png" alt="" />
        <img class="picture__retangle" src="src\images\client_5.png" alt="" />
        <img class="picture__retangle" src="src\images\client_6.png" alt="" />
      </div>
    </div>
    <div class="container">
      <div class="frame">
        <div class="frame__icon">
          <img src="src\images\Frame.png" alt="" />
          <h1 class="theme">Easy To Use</h1>
          <p class="title">
            Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam
            eleifend aenean elementum semper.
          </p>
        </div>
        <div class="frame__icon">
          <img src="src\images\Frame1.png" alt="" />
          <h1 class="theme">Daily Reports</h1>
          <p class="title">
            Allegedly, a Latin scholar established the origin of the established
            text by compiling unusual word.
          </p>
        </div>
        <div class="frame__icon">
          <img src="src\images\Frame2.png" alt="" />
          <h1 class="theme">Real Time Zone</h1>
          <p class="title">
            It seems that only fragments of the original text remain in only
            fragments the Lorem Ipsum texts used today.
          </p>
        </div>
      </div>
      <div class="retangle">
        <div class="retangle__para"></div>
      </div>
    </div>
    <div class="container">
      <div class="find">
        <img
          class="find__homepage"
          src="src\images\1.146ca55c.png"
          alt="homepage"
        />
        <div class="find__plan">
          <h class="plan-theme">Great Product Analytics With Real Problem</h>
          <p class="plan-title">
            Due to its widespread use as filler text for layouts,
            non-readability is of great importance: human perception is tuned to
            recognize certain patterns and repetitions in texts. If the
            distribution of letters visual impact.
          </p>
          <p class="title-child">
            <i class="fas fa-check-circle"></i></i>Digital Marketing Solutions for
            Tomorrow
          </p>
          <p class="title-child">
            <i class="fas fa-check-circle"></i>Create your own skin to match
            your brand
          </p>
          <a class="link-page" href=""
            >Find Out More<i class="fas fa-angle-right"></i>
          </a>
        </div>
      </div>
      <div class="find">
        <div class="find__plan">
          <h class="plan-theme">Get Notified About Importent Email</h>
          <p class="plan-title">
            This prevents repetitive patterns from impairing the overall visual impression and facilitates the comparison of different typefaces. Furthermore, it is advantageous when the dummy text is relatively realistic.
          </p>
          <p class="title-child">
            <i class="fas fa-check-circle"></i></i>Digital Marketing Solutions for
            Tomorrow
          </p>
          <p class="title-child">
            <i class="fas fa-check-circle"></i>Create your own skin to match
            your brand
          </p>
          <a class="link-page" href=""
            >Find Out More<i class="fas fa-angle-right"></i>
          </a>
        </div>
        <img
          class="find__home"
          src="src\images\F.png"
          alt="home"
        />
      </div>
    </div>
    <div class="container">
      <div class="answers">
        <h class="answers__project">
          Whats Our Clients Said About <a class="project" href="#">Landrick</a> Project
        </h>
        <p class="client__start">
          Star working with <a href="#" class="master">Landrick</a> that can
          provide everything you need to generate awareness, drive traffic,
          connect.
        </p>
        <div class="answers__author">
          <img class="avatar" src="src/images/r1.png" alt="profile1">
          <div class="author-landrick">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <img class="para-poly" src="src\images\Polygon 1.png" alt="polygon">
            <p class="author-para">
              " It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. " 
            </p>
            <p class="author-para"><a class="author-link" href="#">- Thomas Israel</a> C.E.O</p>
          </div>
          <img class="avatar" src="src/images/r2.png" alt="profile2">
          <div class="author-landrick">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <img class="para-poly" src="src\images\Polygon 1.png" alt="polygon">
            <p class="author-para">
              " One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. "
            </p>
            <p class="author-para"><a class="author-link" href="#">- Barbara McIntosh</a> M.D</p>
          </div>
        </div>
        <h class="answers__place">
          See everything about your employee at one place.
        </h>
        <p class="client__start">
          Star working with <a href="#" class="master">Landrick</a> that can
          provide everything you need to generate awareness, drive traffic,
          connect.
        </p>
        <div class="answers__btn-last">
          <button class="btn-first" type="button">Get Started Now</button>
          <button class="btn-second" type="button">Free Trial</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__fisrt">

      </div>
      <div class="footer__second">
        
      </div>

    </div>
  </body>
</html>
