.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 74px;
  position: relative;

  &__namepage {
    position: absolute;
    width: 102px;
    height: 68px;
    left: 45px;
    @include font-config(24px);
    line-height: 68px;
    letter-spacing: 1px;
    color: $color-often;
    cursor: pointer;

    letter-spacing: 1px;
  }

  &__items {
    display: flex;
    margin: 25px 0px;
    cursor: pointer;
    .dropdown:hover {
      color: $color-basic;
    }

    .nav-item:hover .nav-link {
      color: $color-basic;
    }

    .fa-angle-down:hover .dropdown {
      color: $color-basic;
    }

    .dropdown {
      position: relative;

      .drop-items {
        background: #fff;
        display: none;
        position: absolute;
        width: 155px;
        height: 270px;
        padding-left: 10px;
        padding-top: 25px;
        line-height: 30px;
        @include font-config(13px);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.48);
        border-radius: 5%;

        &::after {
          bottom: 100%;
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          border: solid transparent;
          border-bottom-color: #ffffff;
          border-width: 10px;
        }

        &::before {
          content: "";
          position: absolute;
          transform: rotate(-135deg);
          width: 10px;
          height: 10px;
          top: -5px;
          left: 12.5px;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);
          z-index: -1;
        }

        .fa-angle-down {
          margin: 0px 7px;
        }
      }
    }

    .dropdown:hover .drop-items {
      display: block;

      .drop-item .link:hover {
        color: $color-basic;
      }
    }

    .nav-item {
      margin: 0px 30px;
      position: relative;

      &:hover {
        color: $color-basic;

        .fa-angle-down {
          color: $color-basic;
        }
      }

      .nav-link {
        font-size: 13px;
        line-height: 24px;
        @include font-config(13px);
      }

      .fa-angle-down {
        margin: 0px 7px;
      }
    }
  }

  &__btn {
    position: absolute;
    right: 44px;
    top: 17px;

    .btn-buy {
      @include font-config(16px);
      padding: 9px 21px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #ffffff;
      background: $color-basic;
      box-shadow: 0px 3px 5px rgba(47, 85, 212, 0.3);
      cursor: pointer;
    }

    .btn-buy:hover {
      background: #2443ac;
    }
  }
}
