.find {
  display: flex;
  flex-direction: row;
  padding: 30px;

  &__homepage {
    width: 540px;
    height: 378px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  }

  &__plan {
    padding: 40px 30px;
    .plan-theme {
      width: 487px;
      height: 90px;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0.5px;
      color: #161c2d;
    }

    .plan-title {
      width: 523px;
      height: 77px;
      font-size: 15px;
      line-height: 26px;
      color: #8492a6;
    }

    .title-child {
      width: 272px;
      height: 23px;
      font-size: 14px;
      line-height: 22px;
      color: #8492a6;
    }

    .fa-check-circle {
      color: rgb(56, 184, 111);
      margin-right: 14px;
    }

    .fa-angle-right {
      margin-left: 5px;
      width: 4.67px;
      height: 0.83px;
    }

    .link-page {
      width: 106px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      color: #2f55d4;
    }
  }
}
