.footer {
  background: #202942;

  &__email {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 45px;

    .email-theme {
      @include font-config(24px);
      line-height: 36px;
      letter-spacing: 1px;
      color: #f8f9fc;
      padding: 0px;
      margin: 0px;

      .email-child {
      }

      .angle-right {
        border: solid #adb5bd;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-right: 5px;
      }
    }

    .email-btn {
      display: flex;
      flex-direction: column;
    }

    .ip-email {
      position: relative;
      background: #25304e;
      border: 1px solid #25304e;
      box-sizing: border-box;
      border-radius: 10px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #f8f9fc;
      padding: 10px 0px;
      @include font-config(16px);
      line-height: 24px;
      padding-right: 100px;
      margin-bottom: 20px;
      cursor: pointer;
    }

    .btn-sub {
      background: #2f55d4;
      border: 1px solid #2f55d4;
      box-sizing: border-box;
      box-shadow: 0px 3px 5px rgba(47, 85, 212, 0.3);
      border-radius: 10px;
      padding: 9px 61px;
      @include font-config(16px);
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #ffffff;
      cursor: pointer;
    }

    .fa-envelope {
      position: absolute;
      padding: 11px;
    }

    .theme-para {
      width: 348px;
      height: 77px;
      @include font-config(16px);
      line-height: 26px;
      color: #adb5bd;
    }

    .link-email {
      @include font-config(16px);
      line-height: 24px;
      color: #adb5bd;
    }

    .title-para {
      width: 236px;
      height: 52px;
      @include font-config(16px);
      line-height: 26px;
      color: #adb5bd;
    }

    .child-para {
      @include font-config(14px);
      line-height: 21px;
      color: #adb5bd;
    }
  }

  &__pay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px;
    border-top: 1px solid #ffffff;

    .pay-landrick {
      display: flex;
      align-items: center;
      margin-left: 45px;
    }

    .pay-year {
      margin-top: 15px;
      @include font-config(16px);
      line-height: 26px;
      color: #adb5bd;
    }

    .fa-copyright {
      color: #adb5bd;
    }

    .pay-card {
      margin-right: 45px;
    }

    .card {
      height: 25px;
      margin-top: 15px;
    }
  }
}
